label {
    font-weight: bold;
}

.add_user_btn {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),
     0 2px 4px -1px rgb(0 0 0 / 6%);
    background: var(--blue)!important;
    border-radius: 11px;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 13px;
    }

td.status_btn {
    color: #38a169!important;
    font-size: 13px!important;
    font-weight: 900;
    text-align: center;
}
